@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #2f5d62;
  color: white;
}

header {
  background-color: #364547;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}

header input {
  background-color: #364547;
  border: 1px solid #2f5d62;
  border-radius: 30px;
  color: white;
  padding: 0.5rem;
  font-family: inherit;
}

header input:focus {
  outline: none;
}

.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.8rem;
  background-color: white;
  color: #2f5d62;
  width: 125px;
  height: 125px;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 3px 3px 0px -1px rgba(0, 0, 0, 0.5);
}

.emoji .character {
  font-size: 2rem;
}

.emoji .desc {
  font-size: 0.7rem;
  font-weight: bold;
}
